body{

background-color: #f4f4f9;
font-family: Arial, Helvetica, sans-serif;
margin: 0px;


}

header {

    text-align: center;
    color: #FFFF;
    background-color: #1f3b7d;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

#body-content{
    padding-left: 20px;
}

#head {
    margin-top: 0;
    margin-bottom: 10px;
}

h1 {
    font-size: 26px;
    
}

h2 {
    font-size: 20px;
    color: #305eca;

}

.nav-links{
    padding: 10px;
}

.nav-links:link {
   color: #FFFF; 
   text-decoration: none;
}


.nav-links:visited {
   color: #FFFF; 
   text-decoration: none;
}



form{
    display: flex;
    justify-content: center;
}

#form-box {
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgb(221, 221, 221);
    padding: 30px 15px;

}

.column1 {
    padding: 20px 5px;
    font-weight: bold;
}

.column2 {
        font-weight: bold;

}

input {
    border-radius: 5px;
    border:2px solid rgb(223, 223, 223);
    width: 100%;
    height: 100%;
    padding: 8px 0px;
}
textarea {
    border-radius: 5px;
    border:2px solid rgb(223, 223, 223);
    width: 100%;
    height: 100%;
    padding: 8px 0px;
    
}


select {
    border-radius: 5px;
    border:2px solid rgb(223, 223, 223);
    width: 100%;
    height: 100%;
    padding: 8px 0px;
    background-color: rgb(223, 223, 223);
    
}

#submit, #reset {
  border: none;
  color: white;
  text-decoration: none;
  margin: 4px 2px;
        font-weight: bold;
  display: inline-block;
  width: 20%;

}

#submit {
    background-color: #305eca;
    color: #f4f4f9;

}

#reset {

    background-color: rgb(223, 223, 223);
    color: #000;

} 